#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
  aliases {
    pcnt0 = &pcnt;
    sw0 = &button0;
  };

  buttons {
    compatible = "gpio-keys";
    button0: button_0 {
      gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;     // Button is pulled up internally
      zephyr,code = <INPUT_KEY_0>;
      label = "Rotary button";
    };
  };
};

&pinctrl {
	pcnt_default: pcnt_default {
		group1 {
			pinmux = <PCNT0_CH0SIG_GPIO1>,
					     <PCNT0_CH0CTRL_GPIO3>;
			// bias-pull-up;                      // This encoder pulled up internally
		};
	};
};

&pcnt {
    pinctrl-0 = <&pcnt_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    unit0@0 {
      reg = <0>;
      #address-cells = <1>;
      #size-cells = <0>;
      filter = <100>;
      channelA@0 {
          reg = <0>;
          sig-pos-mode = <2>;
          sig-neg-mode = <1>;
          ctrl-h-mode = <0>;
          ctrl-l-mode = <1>;
      };
    };
};
